<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>boing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>gears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>heightmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>monitors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>msaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>splitview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D6CA47D522B41F8A5A779D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7A7F6C533C40EA8C550D76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D270D1B75440F590AB7D05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181745DF25E94752B291F975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7B7DA0CE774063880771A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20367C519A2D4E2FBC8B9E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3007E60355DE4CB0893A64BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A8153ED64444C7B24B14FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBB12623B63450FAC8AB7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BCB6DBB04C475EAD3DB743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745BB1F73B2D4EA09E6AB861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>814A46BA0E1F4C5C8894288B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8713333A1A624A818BDFB99C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8969A830ACBC4E34B304192F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93EB36DD3C5B44099E88FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C7BC14508F49ACB4D4377E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DFC904C05914F2BAEB4D448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99EAC6446AA41728F820133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB4851E3AD74C7CABDC0729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1CC4B523A194F7EB1CBE98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80D93A498E44351916367A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F6D27CC3BA4167976EF505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C245259A014D51941D2BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9CCBF2DF754145A27BFA14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E543748DBF34488AA771FA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED6AD3F2520A41FC84CAC956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF54A580942C4DC789E1879D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F663395BB365405F80D75983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
